= link_to 'Sign Out', sessions_path, method: :delete
.row
  %h2 Chat

  #conversation

  %form
    %textarea(id="new-message" rows="8" autofocus)
    %input(id="send" type="submit" class="button" value="Submit")

